.image {
  min-height: 100px;
  width: 100%;
  margin-bottom: 30px;
  transition: box-shadow 0.2s;
  background-image: url(../../assets/Spinner-1s-200px.svg);
  /* background-size: 100%; */
  background-position: center;
  background-repeat: no-repeat;
}

.image:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 1px gray;
}

.count {
  min-width: 65px;
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  background: grey;
  margin-bottom: 30px;
}
