.count {
  min-width: 65px;
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px;
  width: auto;
}

.my-masonry-grid__column {
  padding-left: 30px;
  background-clip: padding-box;
}

.my-masonry-grid__column > div {
  background: grey;
  margin-bottom: 30px;
}
